/* Cover the entire page with the background-video */
@font-face {
  font-family: Alien-Regular;
  src: url(/fonts/Alien/Alien-Encounters-Regular.ttf)
}

@font-face {
  font-family: Alien-Solid;
  src: url(/fonts/Alien/Alien-Encounters-Solid-Regular.ttf);
  font-weight: bold;
}   

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Alien-Solid;
}

video {                
  object-fit:cover;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  filter:blur(1px);
}

#container {
  position:absolute;
  display: flex;
  justify-content: center;
  width:100%;
  height:100%;
  background-color: rgba(10, 10, 10, 0.788);
}

.main-title{
  font-size: 24px;
  color:rgb(66, 196, 157);
 
}
