/* Cover the entire page with the background-video */
@font-face {
  font-family: Alien-Regular;
  src: url(/fonts/Alien/Alien-Encounters-Regular.ttf)
}

@font-face {
  font-family: Alien-Solid;
  src: url(/fonts/Alien/Alien-Encounters-Solid-Regular.ttf);
  font-weight: bold;
}   

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Alien-Solid;
  display:flex;
  justify-content: center;
}

video {                
  object-fit:cover;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  filter:blur(1px);
}

#container {
  position: absolute;
  margin:0 auto;
  width:800px;
  height:100%;
  background-color:rgba(17, 17, 17, 0.767);
  
}

.main-title{
  font-size: 24px;
  color:rgb(60, 185, 148);
  display:flex;
  justify-content: center;
}

.app-menu{
  display:flex;
  justify-content: center;
}

.app-menu-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}